@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "oxygen" sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000; }

.heading-primary {
  color: #FF4F00;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
    animation: moveInLeft 2s ease-out; }
  .heading-primary--sub {
    margin-top: 10rem;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    animation: moveInRight 2s 2s ease-out; }

.navbar-nav {
  color: #000000;
  list-style: none;
  display: inline-flex; }

@media (max-width: 599px) and (max-width: 599px) {
  .navbar-nav {
    background-color: #ffffff;
    width: 100%;
    height: 100%; } }

.nav-item {
  font-stretch: normal;
  font-family: "oxygen" sans-serif; }

.nav-link {
  margin-left: 1rem;
  position: relative;
  left: 85rem; }

@media (max-width: 599px) and (max-width: 599px) {
  .nav-link {
    position: relative;
    left: 21rem; } }

.navbar-toggler {
  padding: 0;
  border: none;
  box-shadow: none !important;
  margin-right: 1.5rem;
  font-size: 1.5rem; }

.navbar {
  height: 8rem;
  font-size: 2rem;
  font-weight: 500; }

.navbar-brand {
  width: 14rem;
  height: 9rem; }

.site-logo {
  width: 12rem;
  height: 8rem; }

.home__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

#section1 {
  height: 100rem;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5)), url("../images/background3.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

@media (max-width: 599px) and (max-width: 599px) {
  #section1 {
    height: 30rem;
    background-size: contain;
    background-position: center; } }

#section2 {
  height: 100rem; }

#section3 {
  height: 60rem;
  background-color: red; }

#section4 {
  height: 60rem;
  background-color: orange; }

#section5 {
  height: 60rem;
  background-color: #5500ff; }
