@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "oxygen" sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000; }

.heading-primary {
  color: #deb887;
  text-transform: uppercase;
  margin-bottom: 8rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
    animation: moveInLeft 2s ease-out; }

@media (max-width: 768px) and (max-width: 768px) {
  .heading-primary--main {
    margin-top: 1rem;
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2rem;
    margin-bottom: 0.4rem;
    margin-left: 3rem; } }

@media (min-width: 992px) and (min-width: 992px) {
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2rem;
    margin-bottom: 0.4rem;
    margin-left: 3rem; } }
  .heading-primary--sub {
    margin-top: 10rem;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    animation: moveInRight 2s 2s ease-out; }

@media (max-width: 576px) and (max-width: 576px) {
  .heading-primary--sub {
    margin-top: -2rem; } }

.section-about--heading {
  font-size: 3rem;
  text-transform: uppercase;
  color: #deb887; }

.section-about--paragraph1 {
  color: #ffffff;
  font-size: 1.7rem;
  justify-content: space-around; }

.section-about--img {
  width: 32rem;
  border: 2rem;
  box-shadow: 0.5rem 1rem 0.7rem rgba(222, 184, 135, 0.3); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.7rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffffff;
  color: #777; }
  .btn--white::after {
    background-color: #ffffff;
    color: #777; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--orange {
  background-color: #deb887;
  color: #deb887; }
  .btn--orange::after {
    background-color: #deb887; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.7rem;
  color: #deb887;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #deb887;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #deb887;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.navbar-nav {
  color: #000000;
  list-style: none;
  display: inline-flex; }

@media (max-width: 576px) and (max-width: 576px) {
  .navbar-nav {
    position: relative;
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 100%; } }

@media (max-width: 768px) and (min-width: 768px) {
  .navbar-nav {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
    position: relative; } }

.nav-item {
  font-stretch: normal;
  font-family: "oxygen" sans-serif; }

.nav-link {
  margin-left: 1rem;
  position: relative;
  left: 36rem; }

@media (max-width: 576px) and (max-width: 576px) {
  .nav-link {
    position: relative;
    left: 25rem; } }

@media (max-width: 768px) and (min-width: 768px) {
  .nav-link {
    position: relative;
    left: 30rem; } }

.navbar-toggler {
  padding: 0;
  border: none;
  box-shadow: none !important;
  margin-right: 1.5rem;
  font-size: 1.5rem; }

.navbar {
  height: 8rem;
  font-size: 2rem;
  font-weight: 500; }

.navbar-brand {
  width: 14rem;
  height: 9rem; }

.site-logo {
  width: 12rem;
  height: 8rem; }

.home__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

@media (max-width: 768px) and (max-width: 768px) {
  .home__text-box {
    margin-top: 8rem; } }

#section1 {
  height: 100rem;
  background-image: radial-gradient(black, rgba(255, 255, 255, 0.2)), url("../images/background3.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

@media (max-width: 576px) and (max-width: 576px) {
  #section1 {
    height: 50rem;
    background-size: contain;
    background-position: center; } }

@media (max-width: 768px) and (max-width: 768px) {
  #section1 {
    height: 50rem;
    background-size: contain;
    background-position: center; } }

@media (min-width: 992px) and (min-width: 992px) {
  #section1 {
    height: 70rem;
    background-size: cover;
    background-position: center; } }

#section2 {
  height: 50rem; }

@media (max-width: 576px) and (max-width: 576px) {
  #section2 {
    height: 130rem; } }

#section3 {
  height: 60rem;
  background-color: red; }

#section4 {
  height: 60rem;
  background-color: orange; }

#section5 {
  height: 60rem;
  background-color: #5500ff; }
