#about-column {
    background-color: $color-primary-black;
}



#testimonial-column {
    color: $color-primary-black;
    background-color: $color-primary-black;
    border-bottom: solid .2rem;
    border-color: $color-primary;
    padding: 3rem;
    text-align: center;
  


}


#section-contact-info {
    background-color: $color-primary-black;
    border: .1rem solid $color-primary;
 
    
}


#section-contact__form {

    background-color: $color-primary-black;
    border: .1rem solid $color-primary;

}