

     .navbar-nav {
        color: $color-primary-black;
        list-style: none;
        display: inline-flex;

        @include for-phone-only {
          @media (max-width: 599px) { 
           background-color: $color-secondary-white;
           width: 100%;
           height: 100%;
            
            
           
          }
        }
       

       

      }

     .nav-item {
        font-stretch: normal;
        font-family: "oxygen" sans-serif;
        

       

        

      }


       .nav-link {
         margin-left: 1rem;
         position: relative;
         left: 85rem;
       
         @include for-phone-only {
          @media (max-width: 599px) { 
            position: relative;
            left: 28rem;
            
            
           
          }
        }
       

       }

  



     .navbar-toggler {
      padding: 0;
      border: none;
      box-shadow: none !important;
      margin-right: 1.5rem;
      font-size: 1.5rem;
  }

     
   


    
        
        
        


   
