

     .navbar-nav {
        color: $color-primary-black;
        list-style: none;
        display: inline-flex;

        @include for-phone-only {
          @media (max-width: 576px) { 
          position: relative;
           display: block;
           background-color: $color-secondary-white;
           background-position: top;
          
          
           width: 100%;
           height: 100%;
           
            
            
           
          }
        }


        @include for-tablet-portrait-up {
          @media (min-width: 768px) {
            background-color:$color-secondary-white;
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
           
            
           }
        }
       

       

      }

     .nav-item {
        font-stretch: normal;
        font-family: "oxygen" sans-serif;
        
        
        @include for-tablet-portrait-up {
          @media (min-width: 768px) {
           
          
            
            
           }
        }


        

       

        

      }


       .nav-link {
      
         position: relative;
         left: 36rem;


        
       
         @include for-phone-only {
          @media (max-width: 576px) { 
            position: relative;
            left: 25rem;
            
            
           
          }
        }


        
        @include for-tablet-portrait-up {
          @media (min-width: 768px) {
            position: relative;
            left: 30rem;
            
            
           }
        }


        @include for-tablet-landscape-up {
          @media (min-width: 992px) { 
            position: relative;
            left: 35rem;

          }
        }
        

        @include for-desktop-up {
          @media (min-width: 1200px) { 
            position: relative;
            left: 57rem;


           }
        }
        
       

       }

  



     .navbar-toggler {
      padding: 0;
      border: none;
      box-shadow: none !important;
      margin-right: 1.5rem;
      font-size: 1.5rem;
  }

     
   


    
        
        
        


   
