

     .navbar-nav {
        color: $color-primary-black;
        list-style: none;
        display: inline-flex;
        position: relative;
        left: 80rem;
        
        
     }

     .nav-item {
        margin-right: 2rem;
        font-stretch: normal;
        font-family: "oxygen" sans-serif;
     }

     
   


    
        
        
        


   
