*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}



@media (min-width: 768px) and (max-width: 991px) {

}




/********** Extra small devices only **********/
@media (max-width: 767px) {
   


    .navbar-nav {
        color: $color-primary-black;
        list-style: none;
        display: block;
        position: absolute;
        left: 100rem;
      
        
        
     }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}