
#section1 {
    height: 100rem;
    background-image:
    radial-gradient( 
    rgba($color-primary-black,1.0), 
    rgba($color-secondary-white,0.2)),
    url("../images/background3.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
   

      @include for-phone-only {
        @media (max-width: 576px) {
            height: 50rem;
            background-size: contain;
           background-position: center;
           
           
           
        }
      }


      @include for-tablet-portrait-up {
        @media (max-width: 768px) {
            height: 50rem;
            background-size: contain;
           background-position: center;
        
           
           
           
        }
      }

      @include for-tablet-landscape-up {
        @media (min-width: 992px) {
            height: 70rem;
            background-size: cover;
            background-position: center;
           
         
         }
      }

      



   }

   

   

  
   


   #section2 {
    height: 50rem;

@include for-phone-only {
  @media (max-width: 576px) { 
      height: 130rem;
   }
    
  }
}
      
    



#section3 {
    height: 60rem;
    background-color: red
    
}



#section4 {
    height: 60rem;
    background-color: orange;
}



#section5 {
    height: 60rem;
    background-color: rgb(85, 0, 255);
}


