#section2 {
   
    height: 60rem;
    
}


#section3 {
    height: 60rem;
    background-color: red
    
}



#section4 {
    height: 60rem;
    background-color: orange;
}



#section5 {
    height: 60rem;
    background-color: rgb(85, 0, 255);
}


